<nav class="navbar ms-5 me-5" th:fragment="menu-principal">
    <div class="d-flex align-items-center">
        <img th:src="@{/imgs/logo.png}" alt="Logo" width="70" height="60" class="me-2">
        <span class="fs-4">Veterinarias</span>
    </div>
    <ul class="navbar-nav mx-auto">
        <!-- <li class="nav-item">
            <a class="nav-link" href="form">Crear Veterinaria</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
        </li> -->
        <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
            <a class="nav-link" th:href="@{/form}">Crear Veterinaria</a>
        </li>
    </ul>
    <div class="buttons ms-auto">
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp;
            <a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <span>Bienvenido</span>&nbsp;<span sec:authentication="name"></span>&nbsp;
            <a class="btn btn-primary" th:href="@{/logout}">Salir</a>
        </div>
    </div>
</nav>